.hero-1 {
    position: relative;
    padding: 170px 0 260px;

    @include breakpoint(max-xl) {
        padding: 100px 0 0;
    }

    @include breakpoint(max-lg) {
        padding: 80px 0 0;
    }

    .book-shape {
        position: absolute;
        left: 8.5%;
        bottom: -30px;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .book-shape-2 {
        position: absolute;
        top: 26%;
        right: 2%;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .girl-img {
        position: absolute;
        bottom: -30px;
        right: 8.5%;

        img {
            @include imgw;
        }

        @include breakpoint(max-xxxl) {
            right: 0;
        }

        @include breakpoint(max-xl) {
            position: static;
        }
    }

    .hero-main-wrapper {
        .hero-content {
        
            h4 {
                color: $theme-color;
                font-weight: 500;
                margin-bottom: 20px;

                @include breakpoint(max-sm) {
                    font-size: 18px;
                }
    
                span {
                    background-color: $header-color;
                    color: $white;
                    padding: 5px 10px;
                    border-radius: 100px;
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 10px;

                    @include breakpoint(max-sm) {
                        margin-left: 5px;
                        font-size: 10px;
                    }
                }
            }
    
            h1 {
                font-size: 80px;
                color: $white;
                margin-bottom: 45px;
    
                .line-shape {
                    position: relative;
                    color: $theme-color;
    
                    img {
                        position: absolute;
                        width: 95%;
                        bottom: -30px;
                        left: 10px;

                        @include breakpoint(max-xl) {
                            bottom: -20px;
                        }
                    }
                }

                @include breakpoint(max-xxl) {
                    font-size: 65px;
                }

                @include breakpoint(max-xl) {
                    font-size: 55px;
                }

                @include breakpoint(max-lg) {
                    font-size: 45px;
                }

                @include breakpoint(max-md) {
                    font-size: 40px;
                }

                @include breakpoint(max-sm) {
                    font-size: 28px;
                }
            }
    
            p {
                color: $white;

                @include breakpoint(max-lg) {
                    max-width: 500px;

                    br {
                        display: none;
                    }
                }
            }
        }

        .hero-btn {
            margin-top: 30px;
            @include flex;
            gap: 24px;

            @include breakpoint(max-xl) {
                flex-wrap: wrap;
                gap: 10px;
            }

            .theme-btn {
                background-color: $white;
                padding: 15px 20px;
                color: $header-color;
                @include transition;

                &:hover {
                    color: $white;

                }

                &.style-2 {
                    background-color: $theme-color;
                    color: $white;

                    &::before {
                        background-color: $white;
                    }

                    &:hover {
                        color: $header-color;
                    }
                }
            }
        }
    }
}

.hero-2 {
    position: relative;
    background-color: $bg-color;

    .book-shape,
    .bg-shape1,
    .book-shape-2
    {
        position: absolute;
    }

    .book-shape {
        left: 0;
        bottom: -30px;

        @include breakpoint(max-xl) {
            display: none;
        }
    }

    .book-shape-2 {
        top: 23%;
        right: 33.5%;
        z-index: 9;

        @include breakpoint(max-xl) {
            display: none;
        }
    }


    .bg-shape1 {
        bottom: 0;
        right: 0;
        
        @include breakpoint(max-xxxl) {
            right: -9.6%;
        }

        @include breakpoint(max-xl){
            display: none;
        }
    }

    .hero-items {
        .hero-content {
            padding-top: 190px;
            padding-bottom: 250px;

            @include breakpoint(max-xl){
                padding: 100px 0;
            }

            @include breakpoint(max-lg){
                padding: 80px 0;
            }
        }
    }

    .girl-image {
        position: absolute;
        bottom: 0;

        img {
            @include imgw;
        }

        @include breakpoint(max-xl) {
            position: static;
        }

        // @include breakpoint(max-lg) {
        //     display: none;
        // }
    }

    .hero-content {
        h6 {
            color: $theme-color;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        h1 {
            position: relative;
            color: $header-color;
            font-family: "Inter", sans-serif;
            font-size: 74px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 30px;
            z-index: 2;

            span {
                color: $theme-color;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    width: 100%;
                }
            }

            @include breakpoint(max-xl) {
                font-size: 48px;
            }

            @include breakpoint(max-sm) {
                font-size: 35px;
            }
            
        }

        p {
            margin: 40px 0;
        }

        .form-clt {
            @include flex;
            gap: 24px;

            @include breakpoint(max-xl) {
                flex-wrap: wrap;
                gap: 10px;
            }

            .theme-btn {
                padding: 15px 20px;
                background-color: $white;
                color: $header-color;
                @include transition;

                &:hover {
                    color: $white;
                }

                &.style-2 {
                    background-color: $theme-color;
                    color: $white;

                    &:hover {
                        color: $header-color;
                    }
                }
            }
        }
    }
}

